.card-edit {
  border: none;
  height: 598px;
  width: 450px;
}

.btn-json {
  border: none;
}

.btn-table {
  border: none;
}

.btn-help {
  border: none;
}

.button-edit {
  height: 38px;
  border-radius: 0px;
}

.button-edit:hover {
  color: #fff;
  background: #34495e;
}

.top-right {
  width: 531px;
}

.side {
  width: 237px;
}

.bg-color {
  background-color: #eee;
  height: 40px;
}

.btn-change {
  width: 254px;
  margin-left: 20px;
  margin-top: -54px;
}
