.card-edit {
  border: none;
  height: 667px;
  width: 450px;
}
.right-compo {
  position: absolute;
  right: 0;
  z-index: 1000;
}

.btn-json {
  border: none;
}

.btn-table {
  border: none;
}

.btn-help {
  border: none;
}

.button-edit {
  height: 38px;
  border-radius: 0px;
}

/* .form-edit {
  border: 0px;
} */

/* .form-edit {
  height: 651px;
} */

/* .button-edit:hover {
  color: #fff;
  background: #34495e;
} */
.buttton-edit {
  color: #fff;
  background: #34495e;
}

.btn.active {
  color: #fff;
  background: #34495e;
}

.buttton-edit.active {
  color: #fff;
  background: #34495e;
}

.top-right {
  width: 531px;
}

.side {
  width: 237px;
}

.bg-color {
  background-color: #eee;
  height: 40px;
}

.btn-change {
  width: 254px;
  margin-left: 20px;
  margin-top: -56px;
  height: 40px;
}

.tab-edit {
  margin-left: 19px;
  width: 496px;
  height: 667px;
  overflow-y: scroll;
}

/* .tab-content .active {
  visibility: hidden;
} */
